/*!
Theme Name: rtpanel-child-theme
Template: rtpanel
Theme URI: http://rtcamp.com/rtpanel/
Description: An Example rtPanel Child Theme with standard examples.
Version: 4.2
Author: rtCamp
Author URI: http://rtcamp.com/
Tags: black, blue, white, orange, light, one-column, two-columns, right-sidebar, custom-header, custom-background, custom-menu, editor-style, theme-options, threaded-comments, sticky-post, translation-ready, responsive-layout, full-width-template, buddypress
Contributors: rtCampers ( http://rtcamp.com/about/rtcampers/ )
*/

// ****** rtPanel Style Starts From Here ***** //

@import "scss/rtpanel";

// ****** rtPanel Style Ends Here ***** //